.form-control{
    height: 55px;
    border-radius: 4px;
    border: 1px solid #DADADA;
    padding-left: 24px;
    background: #F9F9FF;
    outline: none;

    &:focus{
        box-shadow: unset;
        border-color: $purple;
    }

    &::placeholder{
        color: #717171;
        opacity: 0.9;
    }
}

textarea{
    height: 116px !important;
    color: #717171;
    padding-top: 18px !important;

    &::placeholder{
        color: #717171;
        opacity: 0.9;
    }
}