$font: 'Lato';
$primary-blue-dark: #040C28;
$primary-blue-default:  #0E1B4A;
$secondary-purple: #5A46E3;
$purple: #5946E3;
$purple-light: #8472FF;
$dark: #343538;
$dark-text:#8C8C8C;
$light-orange: #FFE7C2;
$light-orange-2: #FFF4E3;
$primary-blue: #3A4B87;
$iris: #5D5FEF;
$alert: #FFCD4B;

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: $font, sans-serif;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import 'global';
@import 'texts';
@import 'forms';
@import 'header';

@import 'home/banner';
@import 'home/about';
@import 'home/cta';
@import 'home/contact';

@import 'dashboard/aside';
@import 'dashboard/nav';
@import 'dashboard/index';
@import 'dashboard/gerenciar';
@import 'dashboard/usuarios';
@import 'dashboard/perfil';
@import 'dashboard/teste';

@import 'login';
@import 'footer';